/* Adjustments for Bootstrap integration */


.slider-heading {
    font-family: 'DM Sans', sans-serif; /* Ensure DM Sans font is used */
    font-weight: 700; /* Bold */
    font-size: 14px; /* Font size */
    line-height: 18px; /* Line height */
    letter-spacing: 1.4px; /* Letter spacing */
    text-align: center; /* Center align text */
    margin-bottom: 10px; /* Space below the heading */
}


.slider-subheading {
    font-family: 'Barlow', sans-serif; /* Barlow font */
    font-weight: 600; /* Bold */
    font-size: 57px; /* Font size */
    line-height: 57.01px; /* Line height */
    letter-spacing: -0.6px; /* Letter spacing */
    text-align: center; /* Center align text */
}

.slider-subheading span {
    font-family: 'Barlow', sans-serif; /* Barlow font */
    font-weight: 600; /* Bold */
    font-size: 57px; /* Font size */
    line-height: 57.01px; /* Line height */
    letter-spacing: -0.6px; /* Letter spacing */
    text-align: center; /* Center align text */
    color: #0D97E9;
}


.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;/* Adjust margin as needed */
}

.btn-view-all {
    background-color: #0D97E9;
    color: white;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-view-all:hover {
    background-color: #0b84cb; /* Darker shade for hover effect */
}
.owl-item .img1 {
    display: block!important;
    width: 100%!important;
    border-radius: 8px!important;
}