#map {
    width: 100%;
    height: 684px; /* Setting height */
    text-align: center; /* Center align content */
    font-family: 'Barlow', sans-serif; /* Setting font family */
}

.map-header {
    padding: 35px 0px;
}

.venue-heading {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 4vw; /* Base font size responsive to viewport width */
    line-height: 1.1; /* Base line height for desktop */
    letter-spacing: -0.02em;
    text-align: center;
}

.venue-heading span {
    font-weight: 600; /* Inherit weight from .venue-heading */
    color: #0D97E9; /* Set color for the span */
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
